docscan==1.0.5
easyocr==1.7.1
langdetect==1.0.9
language_tool_python==2.8
nltk==3.8.1
numpy==1.24.2
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.68
pandas==1.5.3
Pillow==9.2.0
Pillow==10.4.0
pyLanguagetool==0.10.0
pyocr==0.8.5
pyspellchecker==0.8.1
pytesseract==0.3.10
python_Levenshtein==0.26.0
scikit_learn==1.5.2
skimage==0.0
spacy==3.7.2
spellchecker==0.4
torch==2.0.1
torchvision==0.15.2
transformers==4.41.2
